autom4te.cache
aclocal.m4
Makefile
Makefile.in
config.h
config.h.in
config.h.in~
config.h.in.orig
config.log
config.status
configure
depcomp
missing
compile
test-driver
stamp-*
.DS_Store
*.framework
*.xcworkspace
.deps
.dirstamp
xcuserdata
aaa.cfg
*.a
*.o
*.lib
*.pdb
*.prg
*.app
*.acc
*.ttp
*.tos
*.slb
*.os
*.ram
*.rom
*.sys
*.osd
*.nod
*.mode1v3
*.pbxuser
.directory
